/* This is lsWave Obsidian theme */



/* ADJUSTABLE CSS */
/* Wave design at the bottom */
.workspace{
    min-height: 100vh;
    overflow: hidden;
  }
  .workspace:before{
      content: "";
      position: absolute;
      left: 50%;
      min-width: 300vw;
      min-height: 300vw;
      background-color: #454C5C;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      bottom: 15vh;
      border-radius: 45%;
      animation-duration: 10s;
      opacity: .5;
  }
  
  
    
    /* Animation */
    @keyframes rotate {
      0% {transform: translate(-50%, 0) rotateZ(0deg);}
      50% {transform: translate(-50%, -2%) rotateZ(180deg);}
      100% {transform: translate(-50%, 0%) rotateZ(360deg);}
    }
  
    /* ADJUSTABLE CSS */
  /* Removing background to let space for wave design underneath */
  /* However, this will cost readibility during translucent mode */
  .workspace-split,
  .workspace-tabs,
  .workspace-tabs .workspace-leaf,
  .workspace-split.mod-root,
  .mod-left-split .workspace-leaf-content,
  .mod-right-split .workspace-leaf-content{
      background:none;
  }