/* This is lsWave Obsidian theme */



/* ADJUSTABLE CSS */
/* Wave design at the bottom */
.workspace:before{
	content:"";
	position:absolute;
	height:300px;
	width:100%;
	bottom:-73px;
	left:-23%;
	background-image:url(https://raw.githubusercontent.com/LosEcher/Obsidian-Theme-lsWave/main/wave.svg);
	background-size:100% 100%;
	transform:rotateZ(180deg);
	opacity:0.7;
}

  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
